:root {
  /* colors */
  --yellow: #fcee09;
  --white: #ffffff;
  --green: #00ff00;
  --darkgreen: darkgreen;
  --orange: #ffa500;
  --red: #ff0000;
  --darkgrey: #333;
  --lightgrey: #555;
  --blue: rgba(0, 140, 255, 0.83);
  --ap: #25a31f;
  --boxblack: #050a0e;

  /* font sizes */
  --regular: 22px;
  --big: 25px;
  --big-title: 50px;
  --cannot-get-bigger-title: 150px;
  --fs-small-title: 12px;
  --fs-small: 9px;

  /* font families */
  --ff-main: 'Press Start 2P';
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1.5s infinite;
}
