.character-pick {
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/background_post_apocalyptic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;

  .character-pick-title {
    font-family: 'Press Start 2P';
    font-size: var(--big-title);
    text-transform: uppercase;
    color: var(--yellow);
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .character-pick-countdown {
    color: var(--yellow);
    font-size: var(--regular);
    padding: 10px;
  }

  .characters {
    display: flex;
    justify-content: space-evenly;
  }
}

.character {
  align-items: center;
  display: flex;
  flex-direction: column;
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;

  &.selected {
    transform: scale(1.1);
  }

  &:not(.selected) {
    cursor: pointer;
    .character-image {
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .character-box {
    width: 23vw;
    min-height: 350px;
    border: 0;
    outline: none;
    background-color: var(--boxblack);
    cursor: pointer;
    position: relative;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: var(--boxblack);
    /* clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0); */
    margin-top: 1rem;
    font-size: var(--fs-small);

    .character-box-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      background-color: var(--yellow);
      font-family: var(--ff-main);
      /* clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0); */

      .character-box-title {
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 15px;
        font-size: var(--fs-small-title);
      }

      .character-box-interrior {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .character-box-with-corners-container {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.character-ability {
  margin-bottom: 0.5rem;

  .ap {
    color: var(--ap);
  }

  .hp {
    color: var(--red);
  }
}

.character-box-with-corners {
  width: 65px;
  height: 65px;
  border: 2px solid black;
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-top: 2px;
  vertical-align: top;

  .corner {
    position: absolute;
    font-size: 7px;
    padding: 5px;
    cursor: pointer;
  }

  .corner.middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--fs-small-title);
  }

  .corner.top-left {
    top: 0;
    left: 0;
  }

  .corner.top-left.hp {
    color: var(--red);
  }

  .corner.top-right {
    top: 0;
    right: 0;
  }

  .corner.bottom-left {
    bottom: 0;
    left: 0;
  }

  .corner.bottom-right {
    bottom: 0;
    right: 0;
  }

  .hint {
    display: none;
    position: absolute;
    background-color: var(--boxblack);
    color: var(--white);
    padding: 5px;
    border-radius: 3px;
    font-size: 10px;
    white-space: nowrap;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .corner:hover .hint {
    display: block;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1.5s infinite;
}

.hidden {
  visibility: hidden;
}
