.connect-wallet {
  color: var(--yellow);
  font-size: var(--regular);
  font-weight: bold;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/background_haunted_house.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  .container {
    position: absolute;
    left: 20%;
    top: 5%;

    div {
      position: relative;
    }

    .title {
      margin-bottom: 2rem;
    }

    .connection-text {
      background: black;
      margin-top: 1rem;
      color: var(--green);

      &.error {
        color: var(--red);
      }
    }

    .button {
      background-color: black;
      width: 450px;
      padding: 1rem;
      margin: 1rem 0;
      cursor: pointer;
      &.green {
        border: 2px solid var(--green);
        color: var(--green);
      }
      &.red {
        border: 2px solid var(--red);
        color: var(--red);
      }
      &.yellow {
        border: 2px solid var(--yellow);
        color: var(--yellow);
      }
    }
  }
}
