#game-hub {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: black;
  color: var(--yellow);
  font-size: 20px;
  font-weight: var(--regular);
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;

  .game-hub-connection {
    font-family: 'Press Start 2P';
    font-size: var(--big);
    text-transform: uppercase;

    &.success {
      color: var(--green);
    }

    &.warn {
      color: var(--orange);
    }

    &.error {
      color: var(--red);
    }
  }

  .games-list .list .element {
    position: relative;
    margin-top: 10px;
    padding: 10px 10px;
    white-space: pre-wrap;
    text-align: left;
    color: var(--yellow);
    border: var(--yellow) 1px solid;
    cursor: pointer;
    width: 450px;

    &.active {
      color: var(--green);
      border: var(--green) 1px solid;
      font-weight: bold;
    }

    &.finished {
      color: lightgray;
      border: lightgray 1px solid;
    }

    .spectate {
      position: absolute;
      left: 250px;
      top: 7px;
      padding: 3px;
      border: var(--yellow) 1px solid;
      color: var(--yellow);
      z-index: 10000;
    }
  }

  .leaderboard {
    margin: 33px 10px 10px 10px;

    .button {
      color: var(--yellow);
      border: var(--yellow) 1px solid;
      padding: 20px;
      cursor: pointer;
    }
  }
}
