#keyboard-mapping {
  font-family: 'Press Start 2P';
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  height: 280px;
  width: 245px;
  top: calc(100% - 355px);
  left: calc(100% - 255px);
}

#keyboard-mapping .row {
  margin-bottom: 3px;
}

#keyboard-mapping .row.attack-wrapper {
  display: inline-block;
}

#keyboard-mapping .row.single {
  margin-left: 78px;
}

#keyboard-mapping .row.equipment {
  margin-left: 52px;
}

#keyboard-mapping div.plus {
  margin-left: 40px;
}

#keyboard-mapping img {
  margin-right: 7px;
}

#keyboard-mapping div.label {
  display: inline-block;
  margin-left: 10px;
}
