#player-equipment-gui {
  width: 158px;
  height: 79px;
  top: calc(100% - 200px);
  left: calc(50% - 100px);
  background: linear-gradient(#091833, #133e7c);
}

#player-equipment-gui .equipment-slot-container {
  border: 2px solid yellow;
  display: inline-block;
  width: 75px;
  height: 75px;
}

#player-equipment-gui .equipment-slot-container .equipment-slot {
  position: relative;
}

#player-equipment-gui .equipment-slot-container .equipment-number {
  bottom: 77px;
  right: -3px;
  position: relative;
  color: white;
}

#player-equipment-gui .equipment-slot-container .equipment-counter {
  bottom: 25px;
  right: -42px;
  position: relative;
  color: white;
}

#keyboard-mapping {
  font-family: 'Press Start 2P';
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  height: 280px;
  width: 245px;
  top: calc(100% - 355px);
  left: calc(100% - 255px);
}

#keyboard-mapping .row {
  margin-bottom: 3px;
  display: flex;
  align-items: center;
}

#keyboard-mapping .row.attack-wrapper {
  display: inline-block;
}

#keyboard-mapping .row.single {
  margin-left: 78px;
}

#keyboard-mapping .row.equipment {
  margin-left: 52px;
}

#keyboard-mapping div.plus {
  margin-left: 40px;
}

#keyboard-mapping img {
  margin-right: 7px;
}

#keyboard-mapping div.label {
  display: inline-block;
  margin-left: 10px;
}

#weapon-info {
  width: 100px;
  height: 110px;
  top: calc(100% - 110px);
}

#weapon-info .recovery-bar {
  height: 10px;
  background: blueviolet;
}

.info-panel {
  position: absolute;
  top: 1rem;
  margin: 0 auto;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .element {
    position: absolute;
    font-family: 'Press Start 2P';
    font-size: 18px;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    align-items: center;
    height: 30px;

    &.rounds {
      top: -1px;
    }

    &.ap {
      top: 35px;
    }

    &.hp {
      top: 71px;
    }

    &.warn {
      color: var(--red);
    }

    &.info {
      color: white;
    }

    img {
      padding: 0 5px;
    }
  }

  .timebar-container {
    width: 300px;
    height: 20px;
    padding: 3px;
    background-color: var(--darkgrey);
  }

  .timebar {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
  }

  .timebar-progress {
    &.rounds {
      background-color: var(--blue);
      background-image: repeating-linear-gradient(45deg, var(--blue) 0px, var(--blue) 2px, black 2px, black 4px);
    }
    &.ap {
      background-color: var(--ap);
      background-image: repeating-linear-gradient(45deg, var(--ap) 0px, var(--ap) 2px, black 2px, black 4px);
    }
    &.hp {
      background-color: var(--red);
      background-image: repeating-linear-gradient(45deg, var(--red) 0px, var(--red) 2px, black 2px, black 4px);
    }
    height: 100%;

    image-rendering: pixelated;
  }
}

.stats {
  width: 350px;
  border: 0px;
  outline: none;
  position: absolute;
  font-family: Tomorrow, sans-serif;
  font-size: 0.5rem;
  text-transform: uppercase;
  clip-path: polygon(92% 0px, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0px 0px);
  z-index: 0;
  display: block;
  opacity: 1;
  pointer-events: auto;
  mix-blend-mode: normal;
  transform-origin: 50% 50%;
  position: absolute;
  top: 0;

  .stats-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--yellow);
    font-family: 'Press Start 2P';
    font-size: 0.5rem;
    padding: 30px 20px 30px 30px;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);

    .stats-main {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .stats-empty {
        display: flex;
        flex-grow: 1;
      }

      .stats-labels {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
      }
    }

    .stats-other-beavers {
      display: flex;
      justify-content: center;
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 12px;
    }
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.mt-18 {
    margin-top: 18px;
  }

  &.mt-10 {
    margin-top: 10px;
  }

  &.mt-5 {
    margin-top: 5px;
  }

  &.pl-15 {
    padding-left: 15px;
  }

  &.pl-5 {
    padding-left: 5px;
  }

  &.pl-0 {
    padding-left: 0;
  }

  .label-container {
    display: flex;
    justify-content: space-between;

    a {
      color: black;
    }

    .label-element {
      &.pr-10 {
        padding-right: 10px;
      }

      &.w-170 {
        width: 170;
      }

      &.text-right {
        text-align: right;
      }
    }
  }
}
